<html>
<head>
<title>Reply To Leave Request</title>
</head>
<body>

<div style="background-color: #4285F4;color:white;height:10px; padding:10px;margin-bottom:5px;">
<h3>DETAILS OF LEAVE REQUEST</h3>
</div>

<div style="background-color: #F2F2F2;padding:20px;">
<table border=1 cellpadding=5 cellspacing=0 width=100% style=border: 1px solid #ddd;>
	<tr><th align='left'>FROM DATE</th><td><%= leaveFromDate %></td></tr>
	<tr><th align='left'>TO DATE</th><td><%= leaveToDate %></td></tr>
	<tr><th align='left'>NUMBER OF DAYS</th><td><%= numberOfDays %></td></tr>
	<tr><th align='left'>COMMENTS</th><td><%= comments %></td></tr>
	<tr><th align='left'>ACTION TAKEN</th><td><%= actionByEmployee %></td></tr>
</table>
</div>

<div style="background-color: #F2F2F2;padding:20px;">
<h4>Best Regards</h4>
<p><%= employeeName %></p>
<p><%= employeeEmpId %></p>
</div>

</body>
</html>